<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">loginPageTitleTest</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:58</td>   <td>9112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">loginTest</td> 
  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:40</td>   <td>-8870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:51</td>   <td>1456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:49</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>20/11/18 16:50:59</td>   <td>9512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@1f57539]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1970881185</td>   <td></td> </tr>
</table>
