<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@6d2a209c]<br/></td></tr>
<tr><td>smoke</td><td>HomePageTest.verifyUserNameTest()[pri:2, instance:com.crm.qa.testcases.HomePageTest@75329a49]<br/>ContactsPageTest.verifyContactsPageLabel()[pri:1, instance:com.crm.qa.testcases.ContactsPageTest@161479c6]<br/>LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@6d2a209c]<br/></td></tr>
</table>
