<h2>Methods that were not run</h2><table>
<tr><td>com.crm.qa.testcases.LoginPageTest.loginPageTitleTest</td></tr>
<tr><td>com.crm.qa.testcases.ContactsPageTest.validateCreateNewContact</td></tr>
<tr><td>com.crm.qa.testcases.HomePageTest.verifycontactsLinkTest</td></tr>
<tr><td>com.crm.qa.testcases.HomePageTest.verifyHomePageTitleTest</td></tr>
</table>