<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM application test automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f0f1be">  <td>20/11/02 18:40:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@6d2a209c]">loginTest</td> 
  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>20/11/02 18:40:46</td>   <td>-7779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6d2a209c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="e18bac">  <td>20/11/02 18:40:54</td>   <td>957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.crm.qa.testcases.HomePageTest@75329a49]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>20/11/02 18:41:05</td>   <td>11733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@161479c6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="f0f1be">  <td>20/11/02 18:40:54</td>   <td>321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@6d2a209c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="e18bac">  <td>20/11/02 18:41:04</td>   <td>10579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.HomePageTest@75329a49]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>20/11/02 18:41:16</td>   <td>22413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@161479c6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>20/11/02 18:41:16</td>   <td>22276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.verifyContactsPageLabel()[pri:1, instance:com.crm.qa.testcases.ContactsPageTest@161479c6]">verifyContactsPageLabel</td> 
  <td>main@1754894440</td>   <td></td> </tr>
<tr bgcolor="e18bac">  <td>20/11/02 18:41:02</td>   <td>8928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyUserNameTest()[pri:2, instance:com.crm.qa.testcases.HomePageTest@75329a49]">verifyUserNameTest</td> 
  <td>main@1754894440</td>   <td></td> </tr>
</table>
